<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="Distribution" content="Global"/>
    <meta name="description"/>
    <meta name="keywords" content="GITAM, Gat"/>
    <meta name="theme-color" content="#b1040e"/>
    <meta name="author" content="GITAM"/>
    <meta name="copyright" content="GITAM"/>


    <!-- Favicon -->
    <link rel="shortcut icon" href="https://cdn.gitam.edu/images/favicon/favicon.ico" type="image/x-icon"/>

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>

    <link rel="stylesheet" href="https://cdn.gitam.edu/vendor/bootstrap-5.2.3/css/bootstrap.min.css"/>
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.10/dist/sweetalert2.min.css" rel="stylesheet">
    <link rel='stylesheet' href='https://cdn.gitam.edu/icon/boxicons-2.1.4/css/boxicons.min.css'>
    <link rel="stylesheet" href="https://cdn.gitam.edu/icon/remixIcon-3.1.1/remixicon.css">
    <link rel="stylesheet" href="https://cdn.gitam.edu/icon/fontawesome-6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.gitam.edu/vendor/jquery-ui/css/jquery-ui.css"/>

    <link rel="stylesheet" href="https://cdn.gitam.edu/vendor/dataTables/dataTables.bootstrap5.min.css">

    <link rel="stylesheet" href="https://cdn.gitam.edu/vendor/daterangepicker/css/daterange.min.css">
    <link rel="stylesheet" href="https://cdn.gitam.edu/vendor/dataTables/Select-1.6.2/css/select.bootstrap5.min.css"/>
    <link rel="stylesheet" href="https://cdn.gitam.edu/vendor/dataTables/Select-1.6.2/css/select.dataTables.min.css"/>
    {{ redirect_to_login_immediately }}
    <link rel="stylesheet" href="https://cdn.gitam.edu/css/root.css">
