<script src="https://cdn.gitam.edu/js/jquery-3.6.0.js"></script>
<script src="https://cdn.gitam.edu/vendor/jquery-ui/js/jquery-ui.js"></script>
<script src="https://cdn.gitam.edu/js/moment.min.js"></script>
<script src="https://cdn.gitam.edu/vendor/daterangepicker/js/daterangepicker.min.js"></script>
<script src="https://cdn.gitam.edu/vendor/bootstrap-5.2.3/js/bootstrap.min.js"></script>
<script src="https://cdn.gitam.edu/vendor/dataTables/jquery.dataTables.min.js"></script>
<script src="https://cdn.gitam.edu/vendor/dataTables/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.gitam.edu/vendor/dataTables/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.10/dist/sweetalert2.all.min.js"></script>
<script src="https://cdn.gitam.edu/vendor/dataTables/Buttons-2.3.6/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.gitam.edu/vendor/dataTables/Buttons-2.3.6/js/buttons.bootstrap5.min.js"></script>
<script src="https://cdn.gitam.edu/vendor/dataTables/JSZip-2.5.0/jszip.min.js"></script>
<script src="https://cdn.gitam.edu/vendor/dataTables/pdfmake-0.1.36/pdfmake.min.js"></script>
<script src="https://cdn.gitam.edu/vendor/dataTables/pdfmake-0.1.36/vfs_fonts.js"></script>
<script src="https://cdn.gitam.edu/vendor/dataTables/Buttons-2.3.6/js/buttons.html5.min.js"></script>
<script src="https://cdn.gitam.edu/vendor/dataTables/Buttons-2.3.6/js/buttons.print.min.js"></script>
<script src="https://cdn.gitam.edu/vendor/dataTables/Buttons-2.3.6/js/buttons.colVis.min.js"></script>
<script src="https://cdn.gitam.edu/vendor/dataTables/Select-1.6.2/js/dataTables.select.min.js"></script>
<script src="https://cdn.gitam.edu/vendor/dataTables/Select-1.6.2/js/select.bootstrap5.min.js"></script>
<script src="https://cdn.gitam.edu/vendor/dataTables/Select-1.6.2/js/select.dataTables.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://cdn.gitam.edu/js/apexcharts.js"></script>
<script src="https://cdn.gitam.edu/js/app.js"></script>
<script src="https://cdn.tiny.cloud/1/rozwg3enn7grdek48ex5t2xe7syvuud4d4w093cjqjsxncww/tinymce/6/tinymce.min.js"
        referrerpolicy="origin"></script>
<script>
$(document).on("click","#profile_pic",function(){
    $("#subMenu").toggleClass("open-menu")
})
</script>