<style>
    table.dataTable > tbody > tr.selected > * {
        box-shadow: inset 0 0 0 9999px #f5c6cb !important;
        color: #000 !important;
    }

    .select2-container {
        z-index: 9 !important;
        flex: 1;
    }

    .innn {
        margin-top: 10px;
    }

    .add {
        right: 24px;
        position: absolute;
        top: 84px;
    }

    .add1 {
        margin-top: -16px;
    }

    .clear {
        clear: both;
        height: 0;
        border-bottom: 1px solid #b1040e;
        padding-bottom: 6px;
        margin-bottom: 15px;
    }

    .tabsLine .nav-tabs .nav-item.show .nav-link, .tabsLine .nav-tabs .nav-link.active {
        /* border-bottom: 2px solid var(--main-color); */
        color: #fff;
        background-color: var(--main-color);
    }

    .tabsLine .nav-tabs .nav-link {

        padding: 5px 13px 5px 13px;
        /* margin-right: 13px; */
        text-align: center;
        color: var(--text-color);
        font-size: 15px;
        /* border-radius: 11px; */
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border: 1px solid #ebe3e3;
    }


    .graphic-container {
        min-height: 300px;
        max-height: 300px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .cv-spinner {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .spinner {
        width: 40px;
        height: 40px;
        border: 4px #ddd solid;
        border-top: 4px #b1040e solid;
        border-radius: 50%;
        animation: sp-anime 0.8s infinite linear;
    }

    @keyframes sp-anime {
        100% {
            transform: rotate(360deg);
        }
    }

    #overlay {
        position: fixed;
        top: 0;
        z-index: 9999999991 !important;
        width: 100%;
        height: 100%;
        display: none;
        background: #fffffaa;
    }

    div.dataTables_wrapper div.dataTables_info {
        padding-top: 0px;
        font-size: 14px;
        display: block;
        float: none;
    }

    div.dataTables_wrapper div.dataTables_filter label {
        font-weight: normal;
        white-space: normal;
        text-align: left;
    }

    .badge {
        display: inline-block;
        padding: 0.25em 0.4em;
        font-size: 75%;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: 0.25rem;
    }

    .badge-secondary {
        color: #fff;
        background-color: #6c757d;
    }

    .badge-success {
        color: #fff;
        background-color: #28a745;
    }


    .badge-danger {
        color: #fff;
        background-color: #dc3545;
    }

    .badge-warning {
        color: #212529;
        background-color: #ffc107;
    }

    .select2-container {
        z-index: 9999999999;
        flex: 1;
    }

    .home-content {
        position: sticky;
        top: 0px;
    }


    @media screen and (max-width: 992px) {
        .header {
            width: 100%;
        }


    }

    @media screen and (max-width: 787px) {
        .add {
            top: 68px !important
        }
        .noti-div{
            width:calc(100% - 60px)!important;
        }
    }

    .input-group {
        flex-wrap: nowrap;
    }

    .select2-selection {
        max-height: 120px; /* Adjust the height as per your needs */
        overflow-y: auto;
    }
</style>