{% include 'includes/base.html' %}
{% include 'includes/style.html' %}

</head>
<style>
    html, body {
    max-width: 100%;
    overflow-x: hidden !important;
}
    .home-section{
        overflow-x: hidden !important;
    }
</style>


<body>
<div id="wrapper">
    <!-- sider bar -->

    {% include 'includes/sidemenu.html' %}

    <!-- main content -->
    <section class="home-section" id="homeSection">
        <!-- header -->
        {% include 'includes/header.html' %}
        <!-- Content sec -->

        <div id="overlay" style="display:block;z-index:10;">
            <div class="cv-spinner">
                <span class="spinner"></span>
            </div>
        </div>
        <section class="content-container innn">
            <template>
                <div>

                    <h3 class="sub-title">Circular Notification </h3>

                    <div class="box-container">
                        <form method="post" action="/broadcast" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% if request.session.gname == "ADMIN" or  request.session.gname == "DIRECTOR"  %}
                                {% include 'role_wise/admin.html' %}
                            {% elif request.session.gname == "HOD" %}
                                {% include 'role_wise/hod.html' %}
                            {% elif request.session.gname == "HOI" %}
                                {% include 'role_wise/hoi.html' %}
                            {% elif request.session.gname == "CAMPUS" %}
                                {% include 'role_wise/campus.html' %}
                            {% elif request.session.gname == "DEAN" %}
                                {% include 'role_wise/dean.html' %}
                            {% endif %}
                        {% load customtag %}
                                                    <div id="gfor_note">
                                 <p style="font-size: 12px">Note:<span style="color: darkred;font-weight: bold;">*</span> Target Audience: <br>
                                    <span id="std_note"> &#x2022; Student: - Notifications will be reflected in G-Student Portal</span>
                                     <span id="staff_note">  &#x2022; Staff, Directors, Deans, etc.: - Notifications will be reflected in G-Staff Portal</span>
                                      <span id="parent_note"> &#x2022; Parent: - Notifications will be reflected in G-Parent Portal</span>
                                 </p>

                            </div>
                        <div class="row">
                            <div class="col-lg-2">
                            <div class="form-group">
         <label for="tln">Visibility *</label>
                                <select name="visibility" class="form-control" required>
                                    <option value="">Select</option>
                                    <option value="1">1 Day</option>
                                    <option value="2">2 Days</option>
                                    <option value="3">3 Days</option>
                                    <option value="4">4 Days</option>
                                    <option value="5">5 Days</option>
                                    <option value="6">6 Days</option>
                                    <option value="1W">7 Days</option>
                                    <option value="2W">2 Weeks</option>
                                    <option value="1M">1 Month</option>
                                </select>

                            </div>
                        </div>
{#                          <div class="col-lg-2">#}
{#                            <div class="form-group">#}
{#                                <label for="Department">From *</label>#}
{#                                <input type="date" min="{{ exclude_today|from_current_data }}" value="{{ exclude_today|from_current_data }}" readonly class="form-control" id="from_date" name="from_date" required>#}
{#                            </div>#}
{#                        </div>#}
{#                         <div class="col-lg-2">#}
{#                            <div class="form-group">#}
{#                                <label for="Department">To *</label>#}
{#                                <input type="date" class="form-control"  min="{{ exclude_today|from_current_data }}" id="to_date" name="to_date" required>#}
{#                            </div>#}
{#                        </div>#}

                                <div class="col-lg-2">
        <div class="form-group">
            <label for="Department">Repetition *</label>
            <select class="form-control" name="message_type" id="message_type" required>
                <option value="">Select</option>
                <option value="1">One Time</option>
                <option value="2">Daily</option>
                <option value="3">Weekly</option>
                <option value="4">Monthly</option>
            </select>
        </div>
                                    <input type="hidden" name="schedule_dt" id="saved_schedule" value="">
    </div>

                            </div>

                            <div class="row">

                                <div class="col-lg-6" id="notification">
                                    <h3 class="sub-title">Notification Content</h3> <label for="">Push Notification</label> <input type="checkbox" name="push"
                                                                                       checked="true" disabled/>
                                        &nbsp;&nbsp;&nbsp;<label for="circular">Circular Notification</label> <input id="circular"
                                            type="checkbox" name="circular" value="0" />
                                    <p style="font-size: 12px">Note:<span style="color: darkred;font-weight: bold;">*</span> Push Notification will be sent only to the Mobile App Users</p>
                                    <div class="form-group">

                                    </div>

                                    <div class="form-group">
                                        <label for="subjectname">Notification Title *</label>
                                        <input type="text" class="form-control"
                                               aria-describedby="subjectHelp" name="title" required>
                                        <small id="subjectHelp" class="form-text text-muted">Please Enter Title
                                        </small>
                                    </div>
                                    <div class="form-group">
                                        <label for="subjectname">Subject *</label>
                                        <input type="text" class="form-control"
                                               aria-describedby="subjectHelp" name="body" required>
                                        <small id="subjectHelp" class="form-text text-muted">Please Enter Subject
                                        </small>
                                    </div>
                                    <div class="form-group msg">
                                        <br/>
                                        <label for="exampleFormControlTextarea1" class="form-label">Message *</label>
                                        <textarea class="form-control myEditor" id="exampleFormControlTextarea1"
                                                  rows="3"
                                                  aria-describedby="msgHelp" name="message"
                                                  style="height:150px;"></textarea>
                                        <small id="msgHelp" class="form-text text-muted">Please Enter Message</small>
                                    </div>

                                    <div class="form-group msg">
                                        <br/>
                                        <label for="upload">Upload Attachment </label>
                                        <input type="file" class="form-control"
                                               aria-describedby="upload" name="upload">
                                        <small id="upload" class="form-text text-muted">Please Upload any
                                            attachment</small>
                                    </div>
                                       <button type="submit" id="send" class="btn btn-primary">Send Now</button> &nbsp; &nbsp; &nbsp;
                                       <button  type="button" onClick="myModal()" class="btn btn-primary">Schedule</button>
                                </div>
                                <div class="col-lg-6" id="preview">
                                    <h3 class="sub-title">Preview</h3>

                                    <center>
                                        <div style="background:#f5f5f5; padding-top: 10px">
                                            <div class="form-group"
                                                 style="position: relative;display: inline-block; width: 100%; background-image: url('/static/images/android.png'); background-repeat: no-repeat; background-position: center; height:186px">

                                                <div style="background: #fff;margin-top: 72px; width: 350px; height:105px">
                                                    <h5 class="title"
                                                        style="padding-top: 20px; text-align: start; padding-left:10px;">
                                                        G-Communications</h5>
                                                    <h6 class="body" style="text-align: start; padding-left:10px;">
                                                        Notification
                                                        Text</h6>
                                                </div>

                                            </div>
                                            <h5 style="font-size:16px;margin-bottom: 24px;color:rgba(0,0,0,0.55)">
                                                Android</h5>
                                            <div class="form-group"
                                                 style="position: relative;display: inline-block; width: 100%; background-image: url('/static/images/iphone.png'); background-repeat: no-repeat; background-position: center; height:186px">

                                                <div style="border-radius:12px;background: #fff;margin-top: 68px; width: 338px; height:105px">
                                                    <h5 class="title"
                                                        style="padding-top: 20px; text-align: start; padding-left:10px;">
                                                        G-Communications</h5>
                                                    <h6 class="body" style="text-align: start; padding-left:10px;">
                                                        Notification
                                                        Text</h6>

                                                </div>

                                            </div>
                                            <h5 style="font-size:16px;margin-bottom: 24px;color:rgba(0,0,0,0.55)">
                                                Iphone</h5>
                                        </div>

                                    </center>


                                </div>


                            </div>



                        </form>

                    </div>


                </div>


            </template>


            <!-- End content sec -->

        </section>

    </section>
     <div class="modal" id="myModal">
            <div class="modal-dialog modal-md">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Schedule Notification/Circular</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <path
                                    d="M12.0007 10.5865L16.9504 5.63672L18.3646 7.05093L13.4149 12.0007L18.3646 16.9504L16.9504 18.3646L12.0007 13.4149L7.05093 18.3646L5.63672 16.9504L10.5865 12.0007L5.63672 7.05093L7.05093 5.63672L12.0007 10.5865Z">
                                </path>
                            </svg>
                        </button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Schedule DateTime</label>
                            {% load customtag %}
                        <input type="datetime-local" class="form-control"  min="{% datetime_local_with_min %}" id="schedule_dt" required>
                            </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer justify-content-center">
                        <button type="button" id="save_schedule" class="btn btn-primary">Save</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>

</div>

{% include 'includes/scripts.html' %}
{% load sweetify %}
{% sweetify %}
<script>
    function myModal(){
        $('#myModal').modal('show')
    }


    function showContent() {
        var temp = document.getElementsByTagName("template")[0];
        var clon = temp.content.cloneNode(true);
        var app = document.getElementsByClassName("innn")[0];
        app.appendChild(clon);

    }

    function navigate(link) {
        window.location = link
    }

    $(document).ready(function () {


        showContent();


        $('#overlay').hide();


        var sec = 1800,
            countDiv = document.getElementById("countDown"),
            secpass,
            countDown = setInterval(function () {
                'use strict';

                secpass();
            }, 1000);

        function secpass() {
            'use strict';

            var min = Math.floor(sec / 60),
                remSec = sec % 60;

            if (remSec < 10) {

                remSec = '0' + remSec;

            }
            if (min < 10) {

                min = '0' + min;

            }
            countDiv.innerHTML = min + ":" + remSec;

            if (sec > 0) {

                sec = sec - 1;

            } else {

                clearInterval(countDown);
                window.location.replace('logout')
                //logout


            }
        }
         $('input[name=message]').removeAttr('required')
            $('.msg').hide()
        $('#table').DataTable({
            "columnDefs": [
                {"className": "dt-center", "targets": "_all"}
            ],
        });
        $('#table2').DataTable({
            "columnDefs": [
                {"className": "dt-center", "targets": "_all"}
            ],
        });
        $('#role_div').hide();
        $('#degree_div').hide();
        $('#batch_div').hide();
        $('#instruction_egroup').hide();
        $('#role').prop('required', false);


    });

    function getMonthNumber(monthAbbreviation) {
        var monthNames = {
            "Jan": "01", "Feb": "02", "Mar": "03", "Apr": "04",
            "May": "05", "Jun": "06", "Jul": "07", "Aug": "08",
            "Sep": "09", "Oct": "10", "Nov": "11", "Dec": "12"
        };
        return monthNames[monthAbbreviation];
    }




</script>

<script>
    $(document).ready(function () {
        $('.js-example-institute-multiple').select2({theme: "classic", allowClear: true});
        $('#gfor_note').hide();
         $('#staff_note').hide();
          $('#std_note').hide();
          $('#parent_note').hide();

        $(document).on('change', '#gfor', function () {
            $('#institute').empty();
            $('#gfor_note').show();
            $('#campus').empty();
            $('#department').empty();
            $('#batch').empty();
            $('#checkboxes').empty();
            $('#sem').empty();
            $('#batch_div').hide();
            $('#degree_div').hide();
            $('#role_div').hide();
            $('#checkbox1').prop('checked', false);
            $('#checkbox2').prop('checked', false);
            $('#checkbox3').prop('checked', false);
            $('#checkbox4').prop('checked', false);
            $('#checkbox_degree').prop('checked', false);
            $('#checkbox_class').prop('checked', false);
            $('#campus').removeAttr('disabled')
            $('#checkbox1').removeAttr('disabled')
            if(role === "HOD" || role === "HOI"){
                var gfor = $('#gfor_hod').val();
            }
            else{
                var gfor = $('#gfor').val();
            }

             if (gfor.includes('staff')){
                $('#staff_note').show();
                $('#std_note').hide();
                 $('#parent_note').hide();

            }
            if (gfor.includes('directors')){
                  $('#staff_note').show();
                   $('#std_note').hide();
                    $('#parent_note').hide();

            }

            if (gfor.includes('student')) {
                $('#std_note').show();
                $('#staff_note').hide();
                $('#parent_note').hide();
            }
            if (gfor.includes('parent')) {
                $('#parent_note').show();
                $('#std_note').hide();
                $('#staff_note').hide();
            }
            if (gfor.includes('student')  && gfor.includes('staff')){
                  $('#staff_note').show();
          $('#std_note').show();
          $('#parent_note').show();
            }
            if (gfor.includes('student') && gfor.includes('parent') && gfor.includes('staff')){
                  $('#staff_note').show();
          $('#std_note').show();
          $('#parent_note').show();
            }
            if (gfor.includes('student') && gfor.includes('parent') && gfor.includes('staff') && gfor.includes('directors')){
                    $('#staff_note').show();
          $('#std_note').show();
          $('#parent_note').show();
            }
            if (gfor.length === 0){
                $('#staff_note').hide();
          $('#std_note').hide();
          $('#parent_note').hide();
           $('#gfor_note').hide();
            }
            var campus = ['VSP', 'HYD', 'BLR']
            for (var i = 0; i < campus.length; i++) {
                var data = {
                    id: campus[i],
                    text: campus[i]
                };

                var newOption = new Option(data.text, data.id);
                $('#campus').append(newOption);
            }

        });

        $(document).on('change', '#campus', function () {
            $('#checkboxes').empty();
            $('#department').empty()
            $('#institute').empty()
            $('#batch').empty()
            $('#batch_div').hide();
            $('#overlay').show();
            var campus = $('#campus').val();
            var gfor = $('#gfor').val();
            //console.log(campus)
            $.ajax({
                type: "GET",
                url: "{%url 'get_institute' %}",
                data: {'campus': campus, 'gfor': gfor},
                success: function (data) {
                    //console.log(data.data)
                    //console.log(campus.length)
                    ins = data.data
                    $('#institute').empty()
                    if (campus.length > 0) {
                        for (var i = 0; i < ins.length; i++) {
                            var data = {
                                id: ins[i],
                                text: ins[i]
                            };
                            var newOption = new Option(data.text, data.id);
                            $('#institute').append(newOption);
                        }
                    } else {
                        $('#institute').empty()
                    }
                    $('#overlay').hide();

                }


            });
        });

        $(document).on('change', '#institute', function () {
            $('#checkboxes').empty();

            $('#department').empty()
            $('#batch').empty()
            $('#sem').empty()
            $('#overlay').show();

            var campus = $('#campus').val();
            var institute = $('#institute').val();
            var gfor = $('#gfor').val();
            //console.log(campus)
            $.ajax({
                type: "GET",
                url: "{%url 'get_department' %}",
                data: {'campus': campus, 'institute': institute, 'gfor': gfor},
                success: function (data) {
                    //console.log(data.data)
                    //console.log(campus.length)
                    dept = data.data

                    $('#department').empty()
                    if (institute.length > 0) {
                        for (var i = 0; i < dept.length; i++) {
                            var data = {
                                id: dept[i],
                                text: dept[i]
                            };

                            var newOption = new Option(data.text, data.id);
                            $('#department').append(newOption);
                        }
                    } else {
                        {#$('#institute').empty()#}
                    }
                    $('#overlay').hide();
                }
            });
        });

        $(document).on('change', '#department', function () {
            var role = "{{request.session.gname}}"
            if(role === "HOD" || role === "HOI"){
                var gfor = $('#gfor_hod').val();
            }
            else{
                var gfor = $('#gfor').val();
            }
            var campus = $('#campus').val();
            var institute = $('#institute').val();
            var department = $('#department').val();
            $('#batch').empty()
            $('#sem').empty()
             if (gfor.includes('staff')){
                $('#role_div').show();
                $('#role').prop('required', true);
                $('#degree').prop('required', false);
                $('#batch').prop('required', false);
            }
            if (gfor.includes('directors')){
                  $('#role_div').hide();
                $('#role').prop('required', false);
                $('#degree').prop('required', false);
                $('#batch').prop('required', false);
            }
            if (gfor.includes('student') || gfor.includes('parent')) {
                $('#degree_div').show();
                 $('#role_div').hide();
                $('#role').prop('required', false);
            }
            if (gfor.includes('student') && gfor.includes('parent') && gfor.includes('staff')){
                $('#role_div').show();
                 $('#degree_div').show();
                $('#role').prop('required', true);
                $('#degree').prop('required', true);
                $('#batch').prop('required', true);
            }
            if (gfor.includes('student') && gfor.includes('parent') && gfor.includes('staff') && gfor.includes('directors')){
                $('#role_div').show();
                $('#degree_div').show();
                $('#role').prop('required', true);
                $('#degree').prop('required', true);
                $('#batch').prop('required', true);
            }

        });

        $(document).on('change', '#degree', function () {

            var role = "{{request.session.gname}}"
            if(role === "HOD" || role === "HOI"){
                var gfor = $('#gfor_hod').val();
            }
            else{
                var gfor = $('#gfor').val();
            }

            var campus = $('#campus').val();
            var institute = $('#institute').val();
            var department = $('#department').val();
            var degree = $('#degree').val();
            $('#batch').empty()
            $('#sem').empty()
            if (gfor.includes('student') || gfor.includes('parent')) {
                 $('#overlay').show();
                $.ajax({
                    type: "POST",
                    url: "{%url 'get_batch' %}",
                    data: {
                        'campus': campus,
                        'institute': institute,
                        'gfor': gfor,
                        'department': department,
                        'degree': degree
                    },
                    success: function (data) {
                        //console.log(data.data)
                        //console.log(campus.length)
                        batch = data.data
                        console.log(batch)
                        $('#batch').empty()
                        if (institute.length > 0) {
                            for (var i = 0; i < batch.length; i++) {
                                var data = {
                                    id: batch[i],
                                    text: batch[i]
                                };
                                var newOption = new Option(data.text, data.id);
                                $('#batch').append(newOption);
                                $('#batch_div').show();


                            }
                        } else {
                            $('#department').empty();

                        }
                        $('#overlay').hide();
                    }
                });
            }
            else {
                $('#role_div').show();
                $('#role').prop('required', true);

            }
        });

        $(document).on('change', '#batch', function () {
            $('#checkbox2').prop('checked', true);
            var gfor = $('#gfor').val();
            var campus = $('#campus').val();
            var institute = $('#institute').val();
            var department = $('#department').val();
            var batch = $('#batch').val();
            var degree = $('#degree').val();
            if (gfor !== "student") {
                return;
            }
            $.ajax({
                type: "GET",
                url: "{%url 'get_student_emails' %}",
                data: {
                    'campus': campus,
                    'institute': institute,
                    'gfor': gfor,
                    'department': department,
                    'batch': batch,
                    'degree': degree
                },
                success: function (data) {
                    $('#checkboxes').empty();
                    console.log(data.data[1])
                    //console.log(campus.length)
                    console.log(lenght_ = data.data.length)

                    for (let i = 0; i < parseInt(lenght_); i++) {
                        var newOption = new Option(data.data[i], data.data[i]);
                        console.log(newOption)
                        $('#checkboxes').append(newOption);
                    }
                    arr = []
                    $("#checkboxes").find("option").each(function () {
                        $(this).attr('selected', 'selected');
                        arr.push($(this).val())
                    });
                }
            });
        });


        $(document).on('click', '#checkbox1', function () {

            $('#checkbox2').removeAttr("selected");


            if ($(this).is(':checked')) { //select all
                arr = []
                $("#campus").find("option").each(function () {
                    $(this).attr('selected', 'selected');
                    arr.push($(this).val());
                });
                $('#campus').val(arr)
            } else { //deselect all
                $("#campus").find("option").each(function () {
                    $(this).removeAttr("selected");
                    $('#batch').removeAttr("selected");
                    $('#degree').removeAttr("selected");
                });
                $('#checkbox_class').prop('checked', false);
                $('#checkbox_degree').prop('checked', false);
                $('#checkbox2').prop('checked', false);
                $('#checkbox3').prop('checked', false);
                $('#checkbox4').prop('checked', false);
                $('#batch_div').hide();


            }
            $('#campus').trigger('change');

        });

        $(document).on('click', '#checkbox_target', function () {
            $('#checkbox1').removeAttr("selected");
            $('#checkbox3').removeAttr("selected");
            $('#checkbox4').removeAttr("selected");
            $('#checkbox2').removeAttr("selected");
            var gname = "{{ request.session.gname }}"
            if (gname == "HOI" ||  gname == "HOD"){
                if ($(this).is(':checked')) { //select all
                    arr = []
                    $("#gfor_hod").find("option").each(function () {
                        $(this).attr('selected', 'selected');
                        arr.push($(this).val());
                    });
                    $('#gfor_hod').val(arr)
                } else { //deselect all
                    $("#gfor_hod").find("option").each(function () {
                        $(this).removeAttr("selected");
                        $('#campus').removeAttr("selected");
                        $('#batch').removeAttr("selected");
                        $('#degree').removeAttr("selected");
                    });
                    $('#checkbox_class').prop('checked', false);
                    $('#checkbox_degree').prop('checked', false);
                    $('#checkbox1').prop('checked', false);
                    $('#checkbox2').prop('checked', false);
                    $('#checkbox3').prop('checked', false);
                    $('#checkbox4').prop('checked', false);
                    $('#batch_div').hide();
                }
                $('#gfor_hod').trigger('change');
            }
            else {

                if ($(this).is(':checked')) { //select all
                    arr = []
                    $("#gfor").find("option").each(function () {
                        $(this).attr('selected', 'selected');
                        arr.push($(this).val());
                    });
                    $('#gfor').val(arr)
                } else { //deselect all
                    $("#gfor").find("option").each(function () {
                        $(this).removeAttr("selected");
                        $('#campus').removeAttr("selected");
                        $('#batch').removeAttr("selected");
                        $('#degree').removeAttr("selected");
                    });
                    $('#checkbox_class').prop('checked', false);
                    $('#checkbox_degree').prop('checked', false);
                    $('#checkbox1').prop('checked', false);
                    $('#checkbox2').prop('checked', false);
                    $('#checkbox3').prop('checked', false);
                    $('#checkbox4').prop('checked', false);
                    $('#batch_div').hide();
                }
                $('#gfor').trigger('change');
            }
        });


        $(document).on('click', '#checkbox2', function () {
            var data = $(this).val()
            if ($(this).is(':checked')) {
                arr = []
                $("#checkboxes").find("option").each(function () {
                    $(this).attr('selected', 'selected');
                    arr.push($(this).val())

                });
                $('#checkboxes').val(arr)
            } else { //deselect all

                $("#checkboxes").find("option").each(function () {
                    $(this).removeAttr("selected");
                });
            }
            $('#checkboxes').trigger('change');
        });
        $(document).on('click', '#checkbox_class', function () {
            var data = $(this).val()


            if ($(this).is(':checked')) { //select all

                arr = []
                $("#batch").find("option").each(function () {
                    $(this).attr('selected', 'selected');
                    arr.push($(this).val())

                });
                $('#batch').val(arr)
            } else { //deselect all

                $("#batch").find("option").each(function () {
                    $(this).removeAttr("selected");
                });
            }
            $('#batch').trigger('change');
        });

        $(document).on('click', '#checkbox_degree', function () {
            var data = $(this).val()


            if ($(this).is(':checked')) { //select all

                arr = []
                $("#degree").find("option").each(function () {
                    $(this).attr('selected', 'selected');
                    arr.push($(this).val())

                });
                $('#degree').val(arr)
            } else { //deselect all

                $("#degree").find("option").each(function () {
                    $(this).removeAttr("selected");
                });
            }
            $('#degree').trigger('change');
        });



        $(document).on('click', '#checkbox3', function () {



            if ($(this).is(':checked')) {
                $("#institute > option").prop("selected", true);
                $("#institute").trigger("change");
            } else {

                $("#institute > option").prop("selected", false);
                $("#institute").trigger("change")

            }
        });



        $(document).on('click', '#checkbox4', function () {
            if ($(this).is(':checked')) { //select all
                arr = []
                $("#department").find("option").each(function () {
                    $(this).attr('selected', 'selected');
                    arr.push($(this).val())
                });
                $('#department').val(arr)
            } else { //deselect all
                $("#department").find("option").each(function () {
                    $(this).removeAttr("selected");
                });


            }
            $('#department').trigger('change');


        });
        $(document).on('change', 'input[name=title]', function () {
            let data = $(this).val()
            if (data === "") {
                $(".title").text("G-Communications")
            } else {
                $(".title").text(data)
            }
        })
        $(document).on('change', 'input[name=body]', function () {
            let data = $(this).val()
            if (data === "") {
                $(".body").text("Notification text")
            } else {
                $(".body").text(data)
            }
        })


    });

        $(document).on('change', '#tln', function () {
          var isChecked = $('#tln').prop('checked');
             if (isChecked) {
             $('#from_date').prop('readonly', false);
        } else {
            var today = new Date().toISOString().split('T')[0];
            $('#from_date').val(today);
            $('#from_date').prop('readonly', true);
        }

        });




    $(document).on('change', 'input[name=circular]', function () {

        if ($(this).prop('checked')) {
            $('input[name=message]').prop('required', true)
            $('.msg').show()
            $('#preview').hide()
            $('#notification').removeClass('col-lg-6').addClass('col-lg-12');
            $(this).val(1)
        } else {
            $('input[name=message]').removeAttr('required')
            $('.msg').hide()
             $('#preview').show()
            $('#notification').removeClass('col-lg-12').addClass('col-lg-6');
            $(this).val(0)
        }

    })



               $(document).on('change', 'input[name=to_date]', function () {

               var from_date = $('#from_date').val();
               var to_date = $(this).val();
             if (from_date > to_date) {
                        alert("From date should be less than To date");
                        $(this).val("");
             }
           });
    $(document).on('click','#save_schedule',function (){
        var sdt = $('#schedule_dt').val()
        if (sdt === ""){
            alert('Please schedule Date and Time');
            return false;
        }
        else{
            $('#saved_schedule').val(sdt);
            $('#myModal').modal('hide');
            $('#send').click();
        }
    })
</script>