{% include 'includes/base.html' %}
{% include 'includes/style.html' %}
</head>

<body>
<div id="wrapper">
    <!-- sider bar -->

    {% include 'includes/sidemenu.html' %}

    <!-- main content -->
    <section class="home-section" id="homeSection">
        <!-- header -->
        {% include 'includes/header.html' %}
        <!-- Content sec -->

        <div id="overlay" style="display:block;z-index:10;">
            <div class="cv-spinner">
                <span class="spinner"></span>
            </div>
        </div>
        <section class="content-container innn">
            <template>
                <div>

                    <h3 class="sub-title">Notification History</h3>

                    <div class="box-container">
                        <table class="table table-bordered" id="dataTable1"
                               style="width:100%">
                            <thead>
                            <tr>
                                <th style="text-align: center">S.no</th>
                                <th style="text-align: center">Date</th>
                                <th style="text-align: center">Type</th>
                                <th style="text-align: center">Subject</th>
                                <th style="text-align: center">Message</th>
                                <th style="text-align: center">Attachment</th>
                                <th style="text-align: center">Sender</th>



                            </tr>

                            </thead>
                            <tbody class="tbody">

                            {% for i in data %}

                                <tr id="{{ i.id }}">
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ i.dt_time }}</td>
                                    <td>{{ i.type }}</td>
                                    <td>{{ i.body }}</td>
                                    <td>{{ i.data|default_if_none:'' }}</td>
                                    <td>{{ i.attachments }}</td>
                                    <td>{{ i.sent_by|default_if_none:'' }}</td>


                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>


                </div>


            </template>


            <!-- End content sec -->

        </section>

    </section>

</div>
{% include 'includes/scripts.html' %}
<script>


    function showContent() {
        var temp = document.getElementsByTagName("template")[0];
        var clon = temp.content.cloneNode(true);
        var app = document.getElementsByClassName("innn")[0];
        app.appendChild(clon);

    }

    function navigate(link) {
        window.location = link
    }

    $(document).ready(function () {


        showContent();


        $('#overlay').hide();

        var table = $("#dataTable1").DataTable()
        var sec = 1800,
            countDiv = document.getElementById("countDown"),
            secpass,
            countDown = setInterval(function () {
                'use strict';

                secpass();
            }, 1000);

        function secpass() {
            'use strict';

            var min = Math.floor(sec / 60),
                remSec = sec % 60;

            if (remSec < 10) {

                remSec = '0' + remSec;

            }
            if (min < 10) {

                min = '0' + min;

            }
            countDiv.innerHTML = min + ":" + remSec;

            if (sec > 0) {

                sec = sec - 1;

            } else {

                clearInterval(countDown);
                window.location.replace('logout')
                //logout


            }
        }

        $('#table').DataTable({
            "columnDefs": [
                {"className": "dt-center", "targets": "_all"}
            ],
        });
        $('#table2').DataTable({
            "columnDefs": [
                {"className": "dt-center", "targets": "_all"}
            ],
        });
        $('#role_div').hide();
        $('#degree_div').hide();
        $('#batch_div').hide();
        $('#instruction_egroup').hide();
        $('#role').prop('required', false);


    });


</script>

